/*
	template-blank.css
	CSS TEMPLATE FILE

	The FIRST section of this document is for NB 2.0 styles.
	
	The SECOND section of this document is for NB 3.0 styles.

	Separate the NB 2.0 and NB 3.0 CSS until ALL CLIENTS receive the NB 3.0 site experience. This improves maintainability across environments.
*/

/* ===================================================================
	BEGIN NetBenefits 2.0 styles
=================================================================== */
#navbar-tabs #navbar{
	line-height: 1;
    font-family: Arial,Helvetica,sans-serif;    
}
#navbar-tabs #navbar  .top .list-one li{
	line-height: 1;
    font-family: Arial,Helvetica,sans-serif;
	background-color: transparent;   
}
#navbar-tabs #navbar  .top .right{
	font-size:small;
}
#navbar-tabs #navbar .bottom #navbar-list li{
	line-height: 1;
    font-family: Arial,Helvetica,sans-serif;
    font-size: small;
	background-color:transparent;
}

#navbar .top .right .list-one ul{
margin-bottom: 0px;
    margin-top: 0px;
} 

#navbar .bottom .left ul{
margin-bottom: 0px;
    margin-top: 0px;
}

#content-container {
    margin-top: 0px;
    
}
#navbar .search-box-container .search .input-bg {
	height: 28px;
    width: 193px;
}
#navbar .top .right .search-box{
	height: auto;
}
#vert_region1 .ofToc h2 {float: none;}
/*.mainText a p {color : #000099;}*/

#vert_region1 a {
	text-decoration: underline;
}
#vert_region2 a {
	text-decoration: underline;
}
#navbar .top-lookthrough .right .list-one UL  LI{
	background-color: transparent;
	font-family: Arial,Helvetica,sans-serif
	
}
#navbar .top-lookthrough .right .list-one ul {
	margin-top: 0px;
}
.one-line-list p {
    font-family: arial,sans-serif;
    font-size: 13px;
    font-weight: bold;
}
#navbar .block-25-percent ul li{
    font-size: 12.08px;
	line-height: 12.08px;
}
#navbar table {
	width: auto;
}
#navbar .block-25-percent h2{
	font-size: 13px;
}

#link_dc_eft a, #link_dc_plandetails a{
	font-size: 12px;
}
/* ===================================================================
	END NetBenefits 2.0 styles
=================================================================== */

/* ===================================================================
	BEGIN NetBenefits 3.0 styles
=================================================================== */
h2{
	margin-bottom:0.83em;
}
body{
	width:100%!important;
}
#vert_content  a,#horz_content a ,#vert_content  a p ,#horz_content a p {
	text-decoration:none !important;
	color:#0F57C2 !important; 
}
#vert_content  a:hover,#horz_content  a:hover,#vert_content  a p:hover,#horz_content  a p:hover  {
	text-decoration: underline !important;
	color:#0F57C2 !important;
	cursor: pointer !important;
}
#vert_content  a:active,a:focus,#horz_content  a:active,a:focus,#vert_content  a p:active,#vert_content  a p:focus,#horz_content  a p:active,#horz_content  a p:focus  {
	text-decoration: underline !important;
	color:#E74600 !important;
}
#dc-content-wrapper a {
	text-decoration: underline;
}
#layout-utility .right li a {
	font-size: 12px;
}
#vert_region1 #ofReg1 .ofWrapper a{
	text-decoration:none;
}
#navbar-modal #layout-toc li{
	background-color:transparent;
}
#navbar .bottom .left ul li{
	background-color:transparent;
}
#vert_region1 {
    clear: both;
}
#vert_region1 #ofReg1 .ofLeftSide .ofWrapper  a{
	text-decoration:underline;
}
#vert_content a.ofLink{
	text-decoration:none;
}
/* Radion button alignment and FAQ border */
/* Legacy border styles */
 .faqBorder img{
	display: block;
}
.faqTopline img{
	display: block;	
}
.faqBorderBottom img{
	display: block;
}
.faqBottomLine img{
	display: block;
} 

.faqTopline {
	display: block;
	vertical-align:top;
}
.errorTopline img{
	 margin-top: 0px;
    vertical-align: top;
}
/* Legacy border styles */
/*.ie .entryOptionListChoice input{
	float: left;
}
.ie .entryOptionListChoice label{
	float: left;
	
}*/
.ie .entryOptionListChoice label{
	padding-top:3px;
}

input.submitButton{
	text-align:center!important;
}
.ie .timeperiodSubLabel{
	margin-left: -300px;	
}
#retrieve1{
	margin-bottom: 16px;
}     
#dateRange{
	margin: 5px;
	display: inline;
}
.ofxTableHeader span {
    font-weight: bold;
}
#layout-toc .modal{
	color: #666;
}
/*.pageTitleOF h1{
	margin-top: 16px;
} */
#vert_region1 table{
	width: auto;
}
#companycorp-list > li {
    background-color: transparent;
}
.mainText.mainTextAlt1 p {
    color: #000000;
	/*padding-top: 20px;*/
}
#layout-toc li {
	background-color:transparent;
}
.ofInfoCalloutBorder .mainText p{
	color: #000;
}
/*.ofInfoCalloutBorder .mainText a p{
	color: #000099;
}*/
.ofToc.ofTocRounded h2 {
	font-size: 12px;
}
table {
    border-collapse: inherit;
}
#account-chooser li{
	font: 100% Cambria,Georgia,serif;
}
.ofTextBlock.ofxFontSizeAlt1.ofAltPageLevelSpacing2 td{
	padding: 2px;
}
ie .ofTextBlock.ofxFontSizeAlt1.ofAltPageLevelSpacing2 td{
	padding: 0px;
}
.ofFooter {
    font-size: 11px;
 }
li{
	background-color: transparent;
}


/* ===================================================================
	END NetBenefits 3.0 styles
=================================================================== */

/* ===================================================================
	DC Summary  CSS conflicts after deframing  START
=================================================================== */
#vert_content form{
	margin-bottom:1em;
}
.secFootnote p {
	font-size:11px;
	color:#666;	
	line-height:normal;
}

.feSidebarBorder .feSidebarTitle, .feSidebarBorder .feSidebarContent,
.feSidebarBorder .feSidebarContent,
.feSidebarBorder .spacer{
	text-align: left;
}
.accountChooserBorder, .hiPlanTypeChooserBorder{
	margin-bottom: 11px;
}
sup {
    vertical-align: super;
}
.legacyBorder img, #Table3 img{
    display: block;
}
.legacyTopline img{
   display: block;          
}
.legacyBorderBottom img{
    display: block;
}
.legacyBottomLine img{
	display: block;
}
.legacyTopBorder img{
     display: block;
}
#ErrorMsgBoxId td img {
    display: block;
}
form[name="Divelect"] td img{
	display:block;
}
.leftAlign{
    text-align: left;
}
#navbar-modal{
	width:auto;
}
.pageTitle p{
	font-size:16px;
	font-weight:700;
	/*margin-bottom: 16px;*/
	display:inline;
}
#vert_spacing{
	width: 15px;
	float: left; 
	text-align: left;
}
.entryOptionListChoice{
	text-align:left;
}
.ofTopicPathV3Toc{
	float:right;
}
a.tnTabLink, a.tnTabLink:link, a.tnTabLink:visited{
	text-decoration:none!important;
	color: #2F3090!important;
    font-family: verdana,arial,sans-serif!important;
    font-size: 10px!important;
    font-weight: 700!important;
}

.valign-top{
	vertical-align:top;
}

.ofCallout.ofRounded.ofNoDropShadowSmall{
	background-color:#E7EEF4;
}
.ofCallout.ofRounded.ofNoDropShadowSmall .ofTop .ofRight{

	background-image:url("/static/common/images/rounded_nodrop/tr_6_bb.gif");
}
.ofCallout.ofRounded.ofNoDropShadowSmall .ofTop .ofLeft{
	background-image:url("/static/common/images/rounded_nodrop/tl_6_bb.gif");
}
.ofCallout.ofRounded.ofNoDropShadowSmall .ofBottom .ofLeft{
	background-image:url("/static/common/images/rounded_nodrop/bl_6_bb.gif");
}
.ofCallout.ofRounded.ofNoDropShadowSmall .ofBottom .ofRight{

	background-image:url("/static/common/images/rounded_nodrop/br_6_bb.gif");
}

#title{
	position:static;
	margin-bottom:0px;
}
#titleline{
	position:static;
	margin-bottom:-10px;
	display:none;
}

form .accountChooserBorder .accountChooserContent label{font-family:arial,helvetica,sans-serif;}

/* ===================================================================
	DC Summary  CSS conflicts after deframing END
=================================================================== */
/* ===================================================================
	OLE  CSS conflicts after deframing START
=================================================================== */
body.ofxDest{
	background-color: transparent;
    margin: 0;
    padding: 0;
    width: 100%!important;
}
.ofxDest #vert_content  a {
	text-decoration:none !important;
	color:#0F57C2 !important; 
}
.ofxDest #vert_content  a:hover {
	text-decoration: underline !important;
	color:#0F57C2 !important;
	cursor: pointer !important;
}
.ofxDest #vert_content  a:active,a:focus {
	text-decoration: underline !important;
	color:#E74600 !important;
}
.ofxDest #vert_content{
	width:995px;
}
.ofxDest #vert_spacing{
	height: 0px;
}
.ofxDest .mainText.mainTextAlt1 p {
		padding-top: 0px;
}
.ofTextBlock.ofLastChild.ofxTextAlignCenter > p{
	text-align: center;
}

.actionListBullet {
	white-space:nowrap;
	vertical-align: middle;
}
.ofTable .ofAllCellBorder.ofxAllCellBorderAlt1 th{border-top: none;border-left: none;}

.ofTextBlock .ofCancel a{
	text-decoration: none;
}
.ofxExplanatoryProgressMeter ol li .ofTextBlock p{
	font-family:arial,sans-serif;
	font-size:12px;
}
td, th, input, select, option, textarea{
	font-family:arial,helvetica,sans-serif;
	font-size:12px;
}
.ofxExplanatoryProgressMeter ol li .ofTextBlock h2{
	font-size:13.5px!important;
}
.ofxNoBullet {
	font-family:arial,helvetica,sans-serif;
}
.ofxNoBullet a, #vert_region2 .ofTextBlock .ofCancel a, #vert_region2 .ofAltBullet1 a. #vert_region2 .ofTextBlock .ofLastChild a, #vert_region2 .ofxContainer a{
	text-decoration:none!important;
}
.ofTextBlock p{
	font-family:arial,Helvetica,sans-serif;
}
.ofButtons .ofLastChild td:first-child{
	text-align:center!important;
	/*text-align:center!important;IE7 hack*/
}


.ofEntryForm .ofLastChild td{
	padding-right:0px;
}
.ofxHeadingH3Alt3 h3, .ofCancel a, .ofxHeadingH2Alt1 h2, .ofAltBullet1 li a, .ofTable .ofAllCellBorder.ofxAllCellBorderAlt1.ofxTotal tr td h3{
	font-family:arial,helvetica,sans-serif;
}
#vert_region2 .ofxDest a{
	font-family:arial,helvetica,sans-serif;
	font-size:12px;
}	
.ofRVertDiv{
	border-right:1px;
	border-style:solid;
	border-color:#DBDCDE;
} 
#vert_content{
	width:668px;
}
.ofxHeadingH2Alt1  {
	height: auto;
}
.ofxSentence td {padding-left: 0px;}
.ofxDest .ofxVerticalAlignBottom {padding: 3px !important}
.ofHeading, .oftable td a , .oftable th, .ofCallout p{
	font-size: 12px;
	}
.ofAllCellBorder td {
	border-left:none!important;
}
.ofxAltBorderColorAlt1  .ofTable td{
	text-align: left;
}
.ofxTextAlignCenter a{
	text-align: center;
	font-family:arial,helvetica,sans-serif;
}
.ofEntryForm{
	font-size:12px;
}
.ofEntryForm select, .ofEntryForm input, .ofEntryForm textarea{
	font-size:12px;
}
.ofEntryForm input.ofxMuchLargerText{
	font-size:12px!important;
}

.ofTable .ofAllCellBorder.ofxAllCellBorderAlt1 td{font-size: 12px;text-align:left;}
.ofTable td, .ofTable th{font-size:12px;}
.ofFirstChild.ofLastChild a {
    font-size: 12px;
}
.ofHeading p {color: #3F8800; font-size: 11px;font-weight:bold;}
.ofxNoBullet a p{color: #0F57C2;}
#vert_region2 .ofxDest{
	font-family:arial,helvetica,sans-serif;
}
.oftable .ofFirstChild a{font-size: 11px;}
#layout-toc.modal-nav h3{padding-top: 10px;}
#oflayerShadow{
	height:470px!important;
}
#restOfPage #oflayerShadow{
    height:100%!important;
	width:100%!important;
    position:fixed!important;
	_position:absolute!important;
	_width:1294px!important;
	_height:2000px!important;
}

body{
	width:100%!important;
	margin:0px!important;
	padding:0px!important;
}
.ofFooter a{
	font-size:11.2px!important;
}
form[name="lnDistElectionsForm"]{
	padding-bottom:20px;
}

.ofCancel{
	height:18px;
}
#idTotal{
	background-color:#fff!important;
}
.ofFooter{
	border-top-width:0px;
}
.ofFooter.ofxFooterAlt1 {
    border-top: 1px solid #666666;
	height: 100%;
}
.ofTable table{
	margin-bottom:0px;
}
.ofCallout{
	position:static;
}

#underlay{
	position:fixed!important;
	top:0px;
	bottom:0px;
	left:0px;
	right:0px;
	background-color:#eee;
	 /* Netscape */
	-moz-opacity: 0.5;
	/* Safari 1.x */
	-khtml-opacity: 0.5;
	opacity:0.5;
	-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=50)"; /* first!*/
	filter: alpha(opacity=50); 
}
.displaySpreadsheetCombinedAction.displaySpreadsheetCombinedActionAlt1 p{color: #000099;padding-left: 20px;}
.pageTitleOF h1 p{font: 24px arial,helvetica,sans-serif;}
.displaySpreadsheetItemTopLabel.displaySpreadsheetItemTopLabelAlt1, .displaySpreadsheetTopLabelAlt1 {padding-left: 20px;}
#retireProviderEditCellID p, #deferralsEditCellID p, #investmentEditCellID p, .ofxAllCellBorderTopDivider p{
	color: #0F57C2; 
	padding-left: 12px;
	font-weight: bold;
}
#oflayerDefinitionsReduction,#oflayerDefinitionsContribution, #oflayerDefinitionsAnnualIncome{top:50% !important; left:50%!important;}
[disabled] {
    color: #666666;
}
.ofxContainer .ofTextBlock, #calculationsTable p , .ofxContainer p {
    font-family: arial,helvetica,sans-serif !important;
}
.ofxAltBackgroundColorAlt3 .ofCallout {background-color: #FFFAB2 !important;}
.ofHeading h3 p {color: #fff;}
.ofxTextAlignCenter p {
    text-align: center;
}
.ofHeading.ofx_green h3 p {color: #3F8800;}
.displaySpreadsheetDataTopLabel p { text-align: right;}

/*.ofxDest .ofReg{border-right:none;}*/
/*To give left and right margin for DC app*/
.ofxDest #center-content-wrapper{padding:12px 15px 0 15px;}
/* ===================================================================
	OLE  CSS conflicts after deframing END
=================================================================== */
/* ===================================================================
	non-qualified OLE  CSS conflicts after deframing START
=================================================================== */
/*This is an input box and its dimensions are varying depending on the zoom level so making its values static*/
#percentTemporalElections{
	width:42px!important;
	border-width:2px!important;
}

/*Cursor issue for the input box For fid.com*/
#IncreaseAmountDollars0{
	padding-right:2px;
}
/* ===================================================================
	non-qualified OLE  CSS conflicts after deframing END
=================================================================== */
/* ===================================================================
	Dividend Elections  CSS conflicts after deframing START
=================================================================== */
.mainTextAlt1{
	vertical-align:top;
	text-align:left;
}
.continueButton{
	text-align:center;
}
/*OVERLAY OF TIMEOUT*/
 #tocover{
	position:fixed!important;
	height:100%!important;
 }
/* ===================================================================
	EFT  CSS conflicts after deframing END
=================================================================== */
/* ===================================================================
	RollOver  CSS conflicts after deframing Start
=================================================================== */
.ofNoCellBorder td{
	text-align:left;
}
#vert_content{
	position:static;
}
/*
.ofxFloatRight{
	width:220px;
}
*/

#oflayerExceptions,#oflayerConfirmation{
	top:300px!important;
}

.ofxFullPageWidth-Two-Col .ofReg .ofxGridWidth583 .ofTextBlock label,.ofxFullPageWidth-Two-Col .ofReg .ofxGridWidth583 .ofTextBlock td {
	font-family:arial,helvetica,sans-serif;
	font-size:12px;
}
.ofxFullPageWidth-Two-Col .ofReg .ofxGridWidth583 .ofxOutlineBrick h3 p{
	font-size:15px;
	font-weight:700;
}
.ofxFullPageWidth-Two-Col .ofReg .ofxGridWidth583 .ofxOutlineBrick h4, .ofxFullPageWidth-Two-Col .ofxRegContent-Layout .ofxContentWidth .ofxOutlineBrick .ofTextBlock table tr td, .ofxFullPageWidth-Two-Col .ofxRegContent-Layout .ofxContentWidth .ofxOutlineBrick .ofTextBlock table tr td h4 {
	font-family:arial,helvetica,sans-serif;
	font-size:12px;
}

/* ===================================================================
	RollOver  CSS conflicts after deframing END
=================================================================== */
/* ===================================================================
	Transaction History  CSS conflicts after deframing Start
=================================================================== */

#noRows{
	margin-left:16px;
}
.header{
	position:static!important;
}
.footer{
	position:static!important;
}

.summary{
	position:static!important;
}
.detail{
	position:static!important;
	display:none;
	visibility:visible!important;
}
.summary a{
	position:absolute;
}
.summary img{
	position:absolute!important;
	margin-top:-4px!important;
	top:0px!important;
	left:0px!important;
}




/* ===================================================================
	transaction history CSS conflicts after deframing end
=================================================================== */
/* ===================================================================
	Loan & WithDrawals  CSS conflicts after deframing START
=================================================================== */
#oflayerErrorShadow{
	height:100%!important;
	width:100%!important;
	position:fixed!important;
	_position:absolute!important;
	_width:1294px!important;
	_height:2000px!important;
	}
	
/*#vert_content .ofContainer a {
	text-decoration: none!important;
	}
	*/
.fidelity .ofContainer .ofTextBlock.ofTextAncillary h3{
	font-size:11px;
}
.fidelity .ofContainer .ofCallout p{
	font-size:11px;
}
.fidelity .ofContainer .ofCallout p a{
	font-size:12px;
}
.fidelity .ofContainer .ofxBold td{
	font-size:11px;
}
.ofTextBlock p{
	padding-bottom:0;
}

#vert_content .ofTopicPath li a {
	text-decoration:underline!important;
	color:#666!important;
}
th , td{
	font-family:verdana,arial,sans-serif;
	font-size:11px;
}

.ofEntryForm .ofLastChild td, td.Text, td.text, td a.Text, td.Text p, td.Text p a{
	font-family:arial,helvetica,sans-serif;
	font-size:12px;
}

.ofTopicPathV3 li a{
	color:#666!important;
}
.ofTextBlock .ofxSlightlySmallerText {
	font-size:11px!important;
}
.ofxFootnoteText p {
	font-size:11px;
}
.ofEntryForm td{
	padding-left:0px;
	padding-top:0px;
}
.ofEntryForm.ofButtons.ofLastChild table tbody tr td{
	padding-left:12px;
}
.ofxDollarAmountForm{ 
	font-weight: bold!important;
    text-align: right!important;
}
.ofxItalic p{
	font-style: italic !important;
	font-family:arial;
	font-size:13px;
	line-height:16px;
}
.ofTable th{
	color:#000;
}
.ofxOutlineBrick .ofTable td{
	text-align:left;
}
.ofxOutlineBrick .ofTable td.ofCur,.ofxOutlineBrick .ofTable th.ofCur{
	text-align:right;
}
.ofEntryForm .ofxCenter{
	text-align:center!important;
}
.actionListitem a{
	vertical-align:top;
}

.ofFootnote p,.ofFootnote li{
	font-size:11px!important;
}

.ofContainer.ofAlt4Border.ofAltBorderBlack.ofGridWidth5.ofPad1.ofxLayer2.ofxMarginBottom0{
	left:auto!important;
}

.legacyBorder .ofxMessagePaddingRight img{
	display:inline;
}

.actionListItem, .bulletedListItem, .indentedBulletedListItem, .numberedListItem{
	vertical-align:top;
}

#layout-utility .right li a:link, #layout-utility .right li a:visited{
	color:#fff!important;
}
/*.ofTable td{
	text-align:left;
}*/

#emailPopUp{
	left: 20px;
    position: absolute;
    top: -310px;
}
.ofTextBlock, thead.ofTextBlock th, tbody.ofTextBlock td, tr.ofTextBlock th, tr.ofTextBlock td, td.ofTextBlock{
	font-family:arial,helvetica,sans-serif!important;
}
.ofTextBlock form td{
	font-family:arial,helvetica,sans-serif;
	font-size:12px;
}

.ofxFullPageWidth-Two-Col .ofxPageTitle{
	width:774px;
}
.ofxFullPageWidth-Two-Col .ofxPageTitle .ofHeading{
	width:583px;
}
.ofxBold td{
	font-family:arial,helvetica,sans-serif;
}
#vert_content .ofContainer #ofLayerLearnMoreClose{
	text-decoration:underline!important;
}
.ofxMuchLargerText b {
    font-size: 16px;
}

.displaySpreadsheetSubHeader, .displaySpreadsheetSubheader, .entrySpreadsheetSubHeader, .longDisplaySpreadsheetSubHeader, .longItemEntrySpreadsheetSubHeader{
	font-weight:700;
	background-color:#ddd;
}
.ofFooter.ofxFooterAlt1.ofAuxMsg{
	*border-top-width:0px;
}
.ofTextBlock.ofAltBullet2 ul li, .ofTextBlock ul.ofAltBullet2 li, .ofTextBlock ul li.ofAltBullet2{
	background-position:0px 5px !important;
}

.ofxFullPageWidth-Two-Col .ofxRegContent-Layout .ofxSpanFullWidth .ofxLeftCol .ofxOutlineBrick .ofTable table{
	table-layout:auto\9!important;
}
.ofxFullPageWidth-Two-Col .ofxRegContent-Layout .ofxSpanFullWidth .ofxLeftCol .ofxOutlineBrick .ofTextBlock table tr td, .ofxFullPageWidth-Two-Col .ofxRegContent-Layout .ofxSpanFullWidth .ofxLeftCol .ofxOutlineBrick .ofTextBlock  table tr td h4 {font-family:arial,helvetica,sans-serif;}
.ofxFullPageWidth-Two-Col .ofxRegContent-Layout .ofxSpanFullWidth .ofxLeftCol .ofxOutlineBrick .ofTable table .ofxPad .ofxItalic  p{
	width:90px\9!important;
}

.ofxFullPageWidth-Two-Col .ofxRegContent-Layout .ofxContentWidth .ofTable table td{
		text-align:left;
}
.ofxFullPageWidth-Two-Col .ofxRegContent-Layout .ofxContentWidth .ofTable table td.ofxRight{
		text-align:right;
}
#vert_content .detailedDisplaySpreadsheetBorder #tableData thead tr th a.displaySort{
	color:#666!important;
	text-decoration:underline!important;
}
.ofxFullPageWidth-Two-Col .ofReg form .ofTextBlock .ofAltPageLevelSpacing9 tbody tr td, .ofxFullPageWidth-Two-Col .ofReg form .ofTextBlock .ofAltPageLevelSpacing9 tbody tr td label{font-family:arial,helvetica,sans-serif;font-size:12px;}

.ofEntryForm table .ofLastChild th.ofSmall p{text-align:right;font-size:11px;font-family:arial,helvetica,sans-serif;line-height:14px;}

.ofTextBlock .ofxTextAlignMiddle p, .ofTextBlock .ofxTakeLoan td p{
	text-align:center;
}

.displaySpreadsheetData table tbody tr td{
	text-align:left;
}
.ofTextBlock td.ofxBold label{font-family:arial,helvetica,sans-serif;font-size:12px;}
.ofxBold p{font-weight:bold;}
.ofTextBlock h3.ofxGreen,h3.ofxGreen{color:#3F8800 !important;}
.fidelity .dijitTooltipContainer{border: 1px solid #7EABCD;}
.ofTable.ofxDefaultPadding td, .ofTable.ofxDefaultPadding th, .ofTable.ofxDefaultPadding td.ofLastChild, .ofTable.ofxDefaultPadding th.ofLastChild{
	padding:4px 5px 6px!important;
}

/* ===================================================================
	Loans & WithDrawals  CSS conflicts after deframing END
=================================================================== */
/* ===================================================================
	Change Investments  CSS conflicts after deframing Start
=================================================================== */
.ofWarnMess p{
	padding-bottom:18px;
}
form .DataTableBorder table tbody tr td p{
	font-family:arial,helvetica,sans-serif;

}
.ofReg.ofGridWidth50.ofxMarginBottom20{ width: 100%;}
.ofRegFooter.ofGridWidth50.ofFooter.ofAuxMsg{ width: 85%;}
.ofEntryForm .ofButtons .ofLastChild td:first-child{text-align: center;}
#vert_content .ofTopicPathV3 ul li a{
	text-decoration:underline!important;
	color:#666!important;
}
#vert_content .breadcrumbContent a, #vert_content .breadcrumb a{
	text-decoration:underline!important;
	color:#666!important;
}

/*#vert_content .relatedLinksListItem a, #vert_content .PageTitleLinks a, #vert_content .titleLinkSection a{
	text-decoration:underline!important;
	color:#000099!important;
}*/
#vert_content .ofCallout .ofLeftSide .ofWrapper ul li a{
	font-family:Verdana,sans-serif;
	text-decoration:underline!important;
	color: #333399!important;
}

/*
#vert_content .tocNavigationLink a{
	text-decoration:underline!important;
	color:#000099!important;
}
*/


.footnote p{
	font-size:10px;
	color:#666;
	line-height:12px;
}

#vert_content .container-sdb-change-investments-bricklet .container-link .link a p{
	color:#0F57C2!important;
	text-decoration:none!important;
}
sup{
	color: #333333!important;
    font-size: 11px!important;
    font-weight: 400!important;
    vertical-align: super!important;
}

.ofxpageTitle{
	font-family: arial,helvetica,sans-serif;
    font-size: 24px;
    font-weight: 400;
}
.PageTitle{
    color: #000000;
    font-family: arial, helvetica, sans-serif;
    font-size: 16px;
    font-weight: 700;

}

#textblocksub, #subtitle, #textblock{
	position:relative;
	top:0px;
	left:16px;
}

#vert_content #textblocksub form table tbody tr td p{
	margin-top:1em;
	font-family:arial, helvetica, san-serif;
	font-size:13px;
	line-height:normal;
}

.ofTable .ofNoLastCellBorder .ofTxt, .ofTable .ofNoLastCellBorder #tbodFunds td{
	border-left-width:1px!important;
	border-left-color:#DDD!important;
	border-left-style:solid!important;
}
.ofTable .ofNoLastCellBorder .ofTxt, .ofTable .ofNoLastCellBorder .ofPct{
	font-size:11px;
}

.ofLTable93 .ofTextBlock p, .ofLTable9 .ofTextBlock p, #ofReg1 .ofTextBlock p{
	font-family:verdana,sans-serif;
}
.articleText p{
    font-family: arial,helvetica,sans-serif;
	font-size: 13px;
	line-height:normal;
	margin-bottom:1em;
}

#ofReg1 h3.ofxH3Alt1 {
    background-color: #FFFFFF!important;
    padding-left: 0px!important;
    padding-right: 0px!important;
    padding-top: 0px!important;
	}
	
#ofReg1 .ofWrapper .ofTextBlock a p{
	text-decoration:underline!important;
	}
/*#vert_region1 {
	padding-top:6px;
}*/	
	
.ofFooterV3{
	border-top-width:0px!important;
	margin-left:0px;
	}
	
.ofContainer .ofEntryForm .ofLastChild .ofxTextAreaPadding5{
	font-family: arial,helvetica,sans-serif !important;
}
	
.ofWrapper .ofNoLastCellBorder .ofPct {
     border-left: 1px solid #DDDDDD ! important;
}

.ofTable p a span{
	font-family:arial,helvetica,sans-serif;
}
.ofTable .ofTextBlock h4{
	font-family:arial,helvetica,sans-serif;
}
.ofGridWidth100{
	width:100%;
}

.ofGridWidth75 {
	width:74.9%;
}

.ofGridWidth25{
	width:24.9%;
}

.ofTable td.ofCur, .ofTable th.ofCur{
	text-align:right!important;
}

.ofTable .ofxResetText .ofxNoBorders .ofFirstChild h3{
	font-family:arial,helvetica,sans-serif;
	font-weight:normal;
}

#vert_content #textblock{
	position:relative;
	top:0px;
}
#textblock .DataTableBorder .Text .Text{
	padding-left: 15px;
}

.ie7 .ofTable #tbodFunds td{
	text-align:center!important;
}
.ie7 .ofTable #tbodFunds td.ofTxt, .ie7 .ofTable #tbodFunds tr.ofH4 td {
	text-align:left!important;
}
.ofLTable9 .ofReg .ofRVertDiv{
	border-right-width:0px;
}
.ofLTable9 .ofRVertDiv .ofContainer .ofButtons .ofLastChild td:first-child{text-align:center!important;}
#vert_content table tbody tr td.text, #vert_content form table tbody tr td.header a{font-family:arial,helvetica,sans-serif;font-size:13px;}
#vert_content form table tbody tr td textarea{font-family:monospace;font-size:13px;}

#textblock form .DataTableBorder table tbody tr td.Text p{margin-top:1em;}
.fidelity .dijitTooltipRight .dijitTooltipConnector {background-image:url("/static/common/images/tooltipConnectorLeft-blk.gif")!important;}
.fidelity .dijitTooltipRight .dijitTooltipContainer .ofContainer {border:none;}
.fidelity .dijitTooltipRight .dijitTooltipContainer{margin:0px;}
.fidelity .dijitTooltipContainer {border-color:#000!important;background:#fff!important;padding:6px!important;}

.ofAltBullet1 p.ofLastChild input{width:none!important;}/*Fix for input button size on rebalances consent page*/

#ofReg1 table .ofCallout .ofWrapper table tbody tr td.ofxPaddingRight5 .ofTextBlock p.ofLastChild input{
	padding:0px!important;
	*width:145px!important;
}

#ofReg1 table .ofCallout .ofWrapper table tbody tr td.ofxPaddingRight5 .ofTextBlock p.ofLastChild{padding-left:2px;}
/* ===================================================================
	Change Investments  CSS conflicts after deframing END
=================================================================== */
/* ===================================================================
	Contribution Amount  CSS conflicts after deframing Start
=================================================================== */
.calloutHeader p{
	font-family: Arial;
    font-size: 14px;
    font-weight: bold;
}


/*#vert_content #Table4 a{
	text-decoration:underline!important;
	color:#000099!important;
}*/

.legacyBorder .ofxRoundedCallout ul li img{
	display:inline;
}

.ofHeading ul.ofAuxLinks{
	*position:relative;
	*text-align:right;
	*float:right;
}
.legacyBorder .mainText img{
	display:inline;
}

.ofTable .ofWrapper table{
	margin-bottom:15px;
}

.ofGridWidth9Col1 .ofTextBlock  p{
	padding-bottom:10px;
}

.ofLastChild .ofSmall {
    font-family: arial,helvetica,sans-serif;
}

/* ===================================================================
	Contribution amount  CSS conflicts after deframing END
=================================================================== */
/* ===================================================================
	Rollovers  CSS conflicts after deframing start
=================================================================== */

.ofTable .ofxSectionEndPad td{text-align:left;}
.ofAllCellBorder td, .ofTable .ofAllCellBorder th{border: 1px solid #CBD5DF;}
/*.dijitDialogUnderlayWrapper #ofxFundDetailsReinvested_underlay {width: 1263px !important}*/
#layerPleaseWaitID, #LayerBufferPromptDivID {left: 25% !important;}
#reinvestmentsFixedHeightScrollArea .ofTable{position: static;}

/* ===================================================================
	Rollovers  CSS conflicts after deframing END
=================================================================== */
/*=====================================================
     Code for Gold bar removal and bread crumb removal
======================================================== */
.titleLine{
	font-size: 0px;
	line-height: 0px;
	background-color: #fff;
}
.ofxRegTopicPath {
    margin-bottom: 10px !important;
    margin-top: 0 !important;
}
/*.ofFooter ul li a {
    color: #000099 !important;
    text-decoration: underline !important;
}*/
.ie7 .ofTable .ofPct{
	text-align:right!important;
}
.breadcrumbContent {
    padding-bottom: 10px;
	display: none;
}

#navbar-tabs {
    _padding-bottom: 0px;
}

/* =======================Hardship Withdrawals page======================================== */
#vert_region2 #vert_content form td.mainText.mainTextAlt1 h3.ofxMainTextHeader{
	margin-top: 12px;
}
#vert_region2 #vert_content form td.mainText.mainTextAlt1 ol.ofxAltBullet1.ofxLeft{
    margin-top: 10px;
    margin-bottom: 10px;
    padding-left: 40px;
}
#vert_region2 #vert_content form td.mainText.mainTextAlt1 ul.ofxAltBullet5{
    margin-top: 10px;
	margin-bottom: 10px;
}

/* =======================SWP Withdrawal: Payments page======================================== */
#modelDateForm .dateForm {
	*width: 100%;
}
#vert_region2 #vert_content #dijit_form_Form_0 #modelDateForm p.ofxSmallerFont.ofxPaddingTop4 {
    *height: 32px;
}

/* =======================Withdrawals buffer Page======================================== */
#vert_content .ofxFullPageWidth-Two-Col .ofxRegContent-Layout #leftColInPageDiv .ofContainer.ofAlt4Border.ofxAltBorderColorAlt1.ofxMarginBottom0 .ofTable.ofAltPageLevelSpacing1 table tbody.ofAllCellBorder tr td p {
    font-family: arial;
	padding-bottom: 0;
}

/* =======================Request a rollover Page======================================== */
/*#ofLayerLearnMore, #LayerInvestDetailsDivID{
    left: 220px !important;
}*/
/* =======================Rollover Review and submit Page======================================== */
#LayerInvestDetailsDivID .ofTable td , #tableContentID .ofAllCellBorder td{
    text-align: left;
}
/* =======================Pending Transaction Detail Page======================================== */
#vert_content .ofxFullPageWidth-Two-Col .ofxRegContent-Layout .ofxReg .ofContainer .ofLeftIcon .ofEntryForm .ofLastChild td {
    text-align: left !important;
}
/* =======================Review and Submit Contribution Amount Page(IE7 fix)======================================== */
.ie7 #vert_region2 #vert_content #Button1.cancelButton.mainText.mainTextAlt1,
.ie7 #vert_region2 #vert_content #Button2.submitButton.mainText.mainTextAlt1 {
    text-align: center;
}
/* =======================R&S/Pending Details page: "Important Information"======================================== */
.ofxFullPageWidth-Two-Col .ofxRegContent-Layout .ofTextBlock.ofxGreenH3.ofxMarginBottom8 h3 p,
.ofxFullPageWidth-Two-Col.ofxDest .ofReg.ofGridWidth100 .ofReg.ofxGridWidth583.ofFirstChild .ofTextBlock.ofxGreenH3.ofxMarginBottom8 h3 p {
    font-weight: bold;
	font-size: 14px;
}
/* =======================Loans/Withdrawals/Rollovers - Extra lines displayed on the Options page======================================== */
#leftColInPageDiv .ofAlt2Border {
    border-bottom: medium none !important;
    border-top: medium none !important;
}
#leftColInPageDiv .ofTextBlock.ofxMarginTop5 .ofContainer .ofTable .ofRowBorderOnly.ofxThAsTd tr th {
    border-top-width: 0;
}
/* =======================CCW-ImmWithdrawals: Redeem Specific page======================================== */
#vert_content .ofReg.ofGridWidth100 .ofReg.ofPageTitle .ofHeading.ofHeadingOverview.ofxMarginBottom15 h1 {
	border-bottom: none;
}
/**============================NoWhere Page===========================**/
.select-msg{
	padding-top:15px;
	font:15px Cambria;
}
#horz_content.no-top-border .select-msg{
	padding-left:5px;
}

/*Portfolio page*/

#restOfPage .ofReg .ofContainer .ofx3PMPBorder .ofGridWidth100 .ofTextBlock  {
	min-height:20px;
}
/* =======================CCW-Request a Withdrawals page======================================== */
#ofxSourceDetails {
	background-color:#ffffff;
}
#ofxSourceDetails .ofxOverflowSourDet table .ofAllCellBorder td.ofFirstChild{text-align:left;}
/* =======================CCW-Request a Loan&WD page======================================== */
/*.ofAlt4Border {
    border: 1px solid #666666 !important;
}*/
/*===========================Fix For Firefox as the divider line is taking height of 1pt instead of 1px====================*/
.pageFooterDivider.ofxPageFooterDividerAlt1{
	font-size:11px;
}
.ie .pageFooterDivider.ofxPageFooterDividerAlt1{
	line-height:1px;
}
/*===================Full payout page issue===================*/
#ofLayerModelOptions .ofPad1 #DeeperModelOptions_ID td{
	text-align:left;
}
#ofLayerModelOptions .ofPad1 #DeeperModelOptions_ID p{
	padding:5px 0 0 0;
	font-family:arial,helvetica,sans-serif;
}
#ofLayerModelOptions{
	left:250px!important;
}
/*===========CCW Withdrawals---Results Page======================*/
.ofxReg.ofxSpanFullWidth .ofxReg.ofxRightCol .ofContainer.ofMsg .ofLeftIcon.ofSquare {
    padding-left: 14px !important;
}
/*===============Pending Transaction Details==================*/
.ofTable td.ofxFirstChildNoLeft, .ofTable th.ofxFirstChildNoLeft{
	padding-left:0px;
}
/*===========Rebalances Page======================*/
.ofTOS textarea
{
	border:2px inset threedface;
	font-size:11px!important;
	font-family:verdana!important;
}
/*===========CCW-Full Payout SDB withdrawal-SDB page title color issue======================*/
#form1 .ofTextBlock .ofxGreenH3 h2 {
    color: #3F8800;
}

#almostDoneLayer .blueBulletList h2{
	margin:0.83em 0;/*Default margin*/
}
#whatIfExpand ul.ofxAltBullet5, #whatIfExpand ul.ofxAltBullet6{
	margin-top:10px;
	margin-bottom:10px;
}
/*================CCW-Loans/Withdrawals page==============*/
.ofAltBorderColorD9 .ofTable .ofOverFlowSourDet .ofAllCellBorder tr td.ofFirstChild{
 text-align:left;
}
/*====Loans Review and submit page=====*/
form[name~="reviewsubmit"] table tbody tr td p {
    margin: 1em 0;
}
/*================CWV Withdrawals page==============*/
#ofLayerLearnMoreHeader p {
    color: #3F8800;
	font-weight: bold;
    font-size: 17.4px;
}
.entrySpreadsheetFirstTopLabel.ofTableLabel sup {
    vertical-align: baseline !important;
}
/*ccw dialog warning layer fixes*/
#dialogWarn, #dialogWarn td {
    padding: 0;
}
#dialogWarn .ofTable td {
    text-align: left;
}
#dialogWarn .ofxDivTable{
	width:374px !important;
}
#dialogWarn .ofxDivTable img{display:block;}
#dialogWarn .wrapperMiddle {
    padding-bottom: 5px;
    padding-left: 16px;
    padding-top: 3px;
}
#dialogWarn .ofTable .pageTitle {
    font-size: 16px;
}
/*=======popup border in loans & withdrawals buffer page===============*/
.ofAlt4Border {
    border: 1px solid #666666;
}

/*==================wrapping issue of text in mixes table=======*/
.ofLTable9 #rsTable #tbodFunds tr td.ofTxt{
	padding-right: 1px;
    padding-left: 1px;
}
/*==========hardship withdrawals preview page====================*/
.ofTipBorder td.ofTipContent td.ofTipContent ul.ofxAltBullet5{
	margin-top:10px;
}

.ofxContent p{
	font-size:11px!important;
}

.ofTextSize12_18 {
    font-family: verdana,arial,sans-serif;
    font-size: 12px;
    line-height: 18px;
}

#dijit__MasterTooltip_0 .dijitTooltipContainer .ofGridWidth3 {
	padding:0px;
	margin-bottom:0px;
}
/*===========Spacing issue on change investments page========*/

table.ofLTable9 tbody tr td table tbody tr td.ofGridWidth6Col1 div.ofTextBlock.ofAltBullet1 p
{
	padding-bottom:10px;
}
table.ofLTable9 tbody tr td table tbody tr td.ofGridWidth6Col1 div.ofTextBlock p.ofLastChild
{
	padding-bottom:0px;
}
/*======Loans page border color========*/
.ofxAltBorderColorAlt1{
	border-color: #D1DAE3!important;
}
/*==========Withdrawals---Buffer page=================*/
#BufferPromptForm1ID h4{
    font-family: Arial,Helvetica,Sans-serif;
}
/*==========Withdrawals---Result Page=================*/
#ofLayerTaxSettings .ofEntryForm .ofxResetText tbody td,
#ofLayerTaxSettings .ofEntryForm .ofxResetText tbody td p {
    font-family: Arial,​Helvetica,​sans-serif;
}
 .ofTextBlock #WDOption2_SingleCombo_ID td {
    font-family: Arial,Helvetica,Sans-serif;
	font-size:12px;
}

/*============Mail preferences Consent page===============*/

table tbody tr td table tbody tr td textarea[name="consentTextarea"] {
	font-family:monospace;
	font-size:13px;
}
b{
	font-weight:700;
}

.Footnote{
    color: #666666;
    font-family: verdana,arial,sans-serif;
    font-size: 10px;
}
#sidebar{
	width:179px;
}
#vert_content #sidebar{
	left:575px;
	top:275px;
}
#horz_content #sidebar{
	top:400px;
	left:auto;
	margin-left:380px;
	
}
#horz_content.no-top-border #title.PageTitle table tbody tr td.PageTitle{
	/*padding-left:15px;*/
}
#horz_content .ofxFullPageWidth-Two-Col.ofxDest{
	padding-left:19px;
}

.ofTextBlock ul.ofAltBullet2 li.ofx1515Bullet{
	background-position:0px 0px !important;
}
/*To remove the rounded side appearance in Safari*/
input {
    /*-webkit-appearance: none;*/
}
#horz_content.no-top-border #restOfPage{
	padding-left:35px;
	padding-right:30px;
}
#layout-region-1 nav #pgnb{
	margin-bottom:10px;
}
.ofxLeftBorderD9 .ofTextBlock.ofLastChild.ofxSmallerH3 #oflayerPASW div.ofxMarginBottom0.ofxPaddingBottom0.ofGridWidth100 a, #oflayerLifecycleFunds div.ofxMarginBottom0.ofxPaddingBottom0.ofGridWidth100 a{
	float:right;
}
p.ofLastChild.long-btn input{
	padding-left:0px;
	padding-right:0px;
}

.faqTopline{
	vertical-align:top;
}

#horz_content table tbody tr td table tbody tr td.pageTitleOF{
	max-width:553px;
}

#horz_content table tbody tr td.titleLinkSection{
	float:left;
}

.ofxRegContent-Layout.ofxContentWidth.OneCol-Content-Width .ofxGridWidth583.ofFirstChild .ofxOutlineBrick .ofTextBlock table tbody tr td{
	font-family:arial,helvetica,sans-serif;
	font-size:12px;
}

#horz_region2 #horz_content .ofLTable9 tbody tr td .ofReg.ofGridWidth50.ofxMarginBottom20 .ofReg.ofRVertDiv.ofFirstChild .ofxContainer.ofxMarginBottom0.ofxLeftAlign{
	margin-left:20px;
}

#horz_region2 #horz_content div.ofTextBlock.ofLastChild p.ofIcon.ofCancel{
	margin-left:20px;
}

#horz_region2 #horz_content .ofRegFooter.ofGridWidth50.ofxContainer.ofxAlt2.ofFooter.ofxFooterAlt1.ofAuxMsg tbody tr td .ofFooterV3.ofxAlt1.ofAuxMsg{
	margin-left:20px;
}

.titleLinkSection table tbody tr td a{
	font-family:arial,helvetica,sans-serif;
	font-size:12px;
}

#stopReplaceValidationForm .ofEntryForm.ofButtons table tbody tr td input#continueButton.ofxSmallButton{
	width:auto!important;
}
.DataTableBorder{
	background:none repeat scroll 0 0 #CCCCCC;
}
.SidebarTitle {
    background: none repeat scroll 0 0 #669966;
    color: #FFFFFF;
    font: 700 12px Arial,Helvetica;
	}
	
.Header {
    font: 700 13px Arial,Helvetica;
}
.Text, .Text b {
    font: 100 13px Arial,Helvetica;
}

.PageTitle#title table tbody tr td a.Text img{
	vertical-align:middle;
}
#businessErrorResponse{
	border:none;
}
td.wrapperBottom td.wrapperBottom{
	background-color:#40AAD1!important;
}
td.wrapperBottom td{
	background-color:#ffffff;
}

.messageLgPadding #unreadmsg .ofxCalloutMessages div p{
	text-align:center!important;
}

form .ofTable .ofEntryForm td.ofxEntryFormRadioButtonAlt1{
	padding-left:4px;
}

.cancel-img, td.cancel-img{
	white-space:nowrap;
}

.ofxRegContent-Layout.ofxContentWidth.OneCol-Content-Width .ofxOutlineBrick .ofTextBlock.ofxGreenH3.ofLastChild.ofxMarginBottom8 .ofxMarginBottom0 tbody tr td.ofxPaddingBottom8 h4{
	text-transform:uppercase;
}
#layout-utility .search-box-container .search-button{
	*margin-top:-24px;
}

#horz_content #restOfPage .ofReg.ofGridWidth100 .ofFootnote.ofLastChild.ofGridWidth80, #horz_content #restOfPage .ofReg.ofGridWidth100 table.ofRegFooter.ofGridWidth80.ofxContainer.ofxAlt2.ofFooter.ofxFooterAlt1.ofAuxMsg{
	padding-right:19px;
	padding-left:19px;
}
.ofTable th.ofLastChild, .ofTable td.ofLastChild {
	padding-bottom:3px!important;
}
.ofCallout.ofAlt4Border.ofAltBorderColorD9 {position: static;}